# Telegram
BOT_TOKEN=8811723448:AAGmlSoBTNJDn-ardZHys4w8nWCvzhIUQns
WEBAPP_URL=https://investlab-7z65y4f7h-arteam5.vercel.app

# Database
DATABASE_URL=postgresql+asyncpg://investlab:password@postgres:5432/investlab

# Redis
REDIS_URL=redis://redis:6379/0

# API
API_SECRET_KEY=2ec7b622da04ac7f56dd1717f23275d6b60427c142fff768089c2081029cdb2d
API_HOST=0.0.0.0
API_PORT=8000

# Admin
ADMIN_USER_IDS=123456789,987654321

# Market Data
MOEX_API_BASE=https://iss.moex.com/iss
MARKET_UPDATE_INTERVAL=30

# Environment
ENVIRONMENT=production
DEBUG=false
